@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Encode+Sans+Semi+Condensed:wght@100;300;700&family=Great+Vibes&display=swap');

body {
  /* font-family: 'Dancing Script', cursive; */
}

.homepage {
  font-family: 'Encode Sans Semi Condensed', sans-serif;
}

button {
  font-family: 'Encode Sans Semi Condensed', sans-serif;
}


/* Define responsive styles for the DataTable */
@media (max-width: 768px) {
  .data-table-wrapper {
    overflow-x: auto;
  }

  /* Adjust cell styles for smaller screens */
  .data-table-wrapper .ReactTable .rt-th, 
  .data-table-wrapper .ReactTable .rt-td {
    min-width: 100px; /* Adjust as needed */
    word-wrap: break-word;
  }

  /* Hide some columns on smaller screens if necessary */
  .data-table-wrapper .ReactTable .rt-th.hidden-sm,
  .data-table-wrapper .ReactTable .rt-td.hidden-sm {
    display: none;
  }
}
